/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	background: rgb(170, 219, 170);
}

.header{
	position: relative;

}

.wrap{
	background: url(../img/backgrong.JPG) 50% 50%;
	background-size:cover ;
    max-width: 1049px;
	max-height: 500px;
    height: 420px;
    margin: 150px auto;
    padding-top: 50px;
	background-repeat: no-repeat;
	border-radius:20px ;
}

.header img{
	display: flex;
	position: absolute;
	padding-top: 2%;
	padding-left: 5%;
	
}

.header h1{
	background-color: #fff;
	text-align: center;
	font-size: 80px;
	padding: 50px;
}

.dropdown{
	background: rgba(0,0,0,.65);
    margin: 0 auto;
    width: 600px;
    color: #fff;
    padding: 50px;
	border-radius:20px ;

}



@media only screen and (max-width:767px){

	.header img{
		position: absolute;

	}

	.header h1{
		margin: 0 auto;
		width: 99%;
		height: 99%;
		font-size: 99%;
	}

	.wrap{
		max-width: 90%;
		max-height: 85%;
	}

	.dropdown{
		width: 70%;

	}

}